@model IEnumerable<Category>

<div class="text-center my-3">
    <h6 class="display-6">Categories</h6>
</div>
<div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="list-group my-3">
            @foreach (var cat in Model)
            {
                <li class="list-group-item text-center">
                    <a asp-action="Index" asp-controller="Product" asp-route-categoryId="@cat.CategoryId">
                        @cat.CategoryName
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>
