@*Razor Page sayfası olduğunu belirtmek için *@
@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p> StoreApp İletişim: (123) 456 78 90 </p>

        <i class="fa-solid fa-address-book bg-secondary  text-white p-3 rounded-5 my-3"></i>
        <p> Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km
            No: 276 Posta Kodu: 06530 Çankaya/Ankara </p>

         <i class="fa-solid fa-envelope bg-secondary  text-white p-3 rounded-5 my-3"></i>
        <p> destek@storeapp.gmail.com </p>

    </div>
</div>
<h1>Contact</h1>