@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) @* Eğer giriş yapan kullanıcı Admin rolüne sahipse Admin
paneline gidecek olan link gözüksün *@
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-gear"></i> Admin</a>
    </li>
}

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-action="Logout"
            asp-route-returnUrl="@Context.Request.PathAndQuery()">
            <i class="fa-solid fa-right-from-bracket"></i> Logout</a> @* asp-route-returnUrl ifadesi ile kullanıcı
    hangi sayfadan çıkış yapma işlemine tıkladıysa o sayfaya geri yönlendirilecek *@
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-action="Login"
            asp-route-returnUrl="@Context.Request.PathAndQuery()">
            <i class="fa-solid fa-right-to-bracket"></i> Login</a>  @* asp-route-returnUrl ifadesi ile kullanıcı
    hangi sayfa üzerinden giriş yaptıysa tekrar o sayfaya geri döndürülecek *@
    </li>
}
