@model CategoryDtoForUpdate

<div class="text-center" >
     <div class="display-6 my-4" >Update</div>
</div>

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div> 
   
   <input type="hidden" asp-for="CategoryId" />
   
    <div class="form-group my-3" >
        <label asp-for="CategoryName" ></label>
        <input asp-for="CategoryName" class="form-control"/>
    </div>

    <div class="form-group my-3" >
        <div class="btn-group" >
        <button class="btn btn-primary" type="submit" >
            <i class="fa fa-save"></i> Update
        </button>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Category">
           <i class="fa fa-list"></i>  Categories
        </a>
        </div>
    </div>
</form>